.products article {
    p {
        color: #000000de;
    }
}

.mantenimiento,
.camara,
.alarma,
.instalacionAire {

    .description {
        display: none;
        transition: background 3s ease-in-out;

    }

    &:hover {
        .normal {
            display: none;
        }

        .description {
            display: inherit;
            background-color: #f5f5f5
        }
    }
}

.instalacionAire .normal .lineInst::before {
    background-color: red;
    content: "";
    position: absolute;
    width: 2px;
    left: 10px;
    top: 10px;
    height: calc(100% - 40px);

}